{% extends '::base.html.twig' %}

{% block body %}
    <header class="ui menu">
        <h1 class="header item">Merci Store</h1>
        <nav class="right menu">
            <a class="ui item icon button">
                <i class="reorder icon"></i>
            </a>
        </nav>
    </header>

    <nav class="ui left sidebar inverted vertical menu">
        <a class="item" href="{{ path('store_main_home') }}">
            <i class="home icon"></i> Home
        </a>
        <a class="item" href="{{ path('store_catalog_index') }}">
            <i class="grid layout icon"></i> Catalog
        </a>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}
