/* =================================
   Default styles / Mobile First
   ================================= */

/* -----------------------
   Reset
-------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
}

/* =================================
   Media Queries
   ================================= */

/* -----------------------
   Smartphones landscape
-------------------------- */
@media only screen and (min-width: 480px) {
    h1:before {
        content: "Smartphones landscape - ";
    }
}

/* -----------------------
   Tablets
-------------------------- */
@media only screen and (min-width: 768px) {
    h1:before {
        content: "Tablets - ";
    }
}

/* -----------------------
   Desktops and Laptops
-------------------------- */
@media only screen and (min-width: 1140px) {
    h1:before {
        content: "Desktops and laptops - ";
    }
}
